@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

:root {
  --prime: #ff4500;
  --support: #008080;
  --support-dark: #012222;
  --support-light: #a9a9a9;
  --gold: #ffd700;
  --sky: #87ceeb;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

.text-prime {
  color: var(--prime);
}

.bg-prime {
  background-color: var(--prime);
}

.text-support {
  color: var(--support);
}

.bg-support {
  background-color: var(--support);
}

.text-support-dark {
  color: var(--support-dark);
}

.bg-support-dark {
  background-color: var(--support-dark);
}

.text-support-light {
  color: var(--support-light);
}

.bg-support-light {
  background-color: var(--support-light);
}

.text-gold {
  color: var(--gold);
}

.bg-gold {
  background-color: var(--gold);
}

.text-sky {
  color: var(--sky);
}

.bg-sky {
  background-color: var(--sky);
}

.text-dark {
  color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
}

.text-light {
  color: var(--light);
}

.bg-light {
  background-color: var(--light);
}

.text-grey-dark {
  color: var(--grey-dark);
}

.bg-grey-dark {
  background-color: var(--grey-dark);
}

.text-grey-medium {
  color: var(--grey-medium);
}

.bg-grey-medium {
  background-color: var(--grey-medium);
}

.text-grey-light {
  color: var(--grey-light);
}

.bg-grey-light {
  background-color: var(--grey-light);
}

.text-grey-light-extra {
  color: var(--grey-light-extra);
}

.bg-grey-light-extra {
  background-color: var(--grey-light-extra);
}

.logo {
  font-family: 'Aguafina Script', cursive;
}

.button {
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  outline: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-4 { margin-top: 1rem; }
.mt-5 { margin-top: 1.25rem; }
.mt-6 { margin-top: 1.5rem; }
.mt-7 { margin-top: 1.75rem; }
.mt-8 { margin-top: 2rem; }
.mt-9 { margin-top: 2.25rem; }
.mt-10 { margin-top: 2.5rem; }

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-7 { margin-bottom: 1.75rem; }
.mb-8 { margin-bottom: 2rem; }
.mb-9 { margin-bottom: 2.25rem; }
.mb-10 { margin-bottom: 2.5rem; }

.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 0.75rem; }
.mr-4 { margin-right: 1rem; }
.mr-5 { margin-right: 1.25rem; }
.mr-6 { margin-right: 1.5rem; }
.mr-7 { margin-right: 1.75rem; }
.mr-8 { margin-right: 2rem; }
.mr-9 { margin-right: 2.25rem; }
.mr-10 { margin-right: 2.5rem; }

.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 0.75rem; }
.ml-4 { margin-left: 1rem; }
.ml-5 { margin-left: 1.25rem; }
.ml-6 { margin-left: 1.5rem; }
.ml-7 { margin-left: 1.75rem; }
.ml-8 { margin-left: 2rem; }
.ml-9 { margin-left: 2.25rem; }
.ml-10 { margin-left: 2.5rem; }

.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-4 { padding-top: 1rem; }
.pt-5 { padding-top: 1.25rem; }
.pt-6 { padding-top: 1.5rem; }
.pt-7 { padding-top: 1.75rem; }
.pt-8 { padding-top: 2rem; }
.pt-9 { padding-top: 2.25rem; }
.pt-10 { padding-top: 2.5rem; }

.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-5 { padding-bottom: 1.25rem; }
.pb-6 { padding-bottom: 1.5rem; }
.pb-7 { padding-bottom: 1.75rem; }
.pb-8 { padding-bottom: 2rem; }
.pb-9 { padding-bottom: 2.25rem; }
.pb-10 { padding-bottom: 2.5rem; }

.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 0.75rem; }
.pr-4 { padding-right: 1rem; }
.pr-5 { padding-right: 1.25rem; }
.pr-6 { padding-right: 1.5rem; }
.pr-7 { padding-right: 1.75rem; }
.pr-8 { padding-right: 2rem; }
.pr-9 { padding-right: 2.25rem; }
.pr-10 { padding-right: 2.5rem; }

.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 0.75rem; }
.pl-4 { padding-left: 1rem; }
.pl-5 { padding-left: 1.25rem; }
.pl-6 { padding-left: 1.5rem; }
.pl-7 { padding-left: 1.75rem; }
.pl-8 { padding-left: 2rem; }
.pl-9 { padding-left: 2.25rem; }
.pl-10 { padding-left: 2.5rem; }

